/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  padding: 10px;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo img{
  height: 50%;
  max-height: 70px;
  width: auto;
  margin-left: -50px;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
  margin-top: 15px;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .Home-sub-menu,
nav .navbar .links li:hover .Pets-sub-menu,
nav .navbar .links li:hover .Education-sub-menu,
nav .navbar .links li:hover .Fashion-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  margin-top: 15px;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #786E65;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #786E65;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #786E65;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
/*-----------------------------------------------------------CONTENTS----------------------------------------------------------*/

.container-one {
  margin: 150px 30px 20px 20px;
  display: flex; 
  flex-wrap: wrap;
  align-items: flex-start; 
  justify-content: space-between;
}

.box-one {
  background-color: #F8F8F1;
  padding: 40px;
  width: 37%;
  height: 500px;
  text-align: center; 
  margin-top: 5px;
  display: flex; 
  flex-grow: 1;
  flex-basis: 200;
  justify-content: center; 
  flex-direction: column; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#box-one-h1 {
  text-align: left;
  margin-top: 0; 
  font-family: "Lora",serif;
  font-weight: 800;
  font-size: 36px;
  font-style: normal;
  margin-bottom: 30px;
}

#box-one-p {
  text-align: left;
  margin-top: -20px; 
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 20px;
}

.know-about-us-box {
  width: 250px;
  height: 50px;
  border: 2px solid black;
  background-color: white;
  margin-top: px;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  flex-direction: row;        
  justify-content: center;
  align-items: center; 
  transition: background-color 0.3s, color 0.3s;
}

#know-about-us-box-h2 {
  vertical-align: middle;
  font-family: "Poppins","serif";
  font-size: 16px;
  margin: auto;
  color:#000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 46px;
}
#icon {
  margin: auto;       
  justify-content: center;
  align-items: center; 
  color:#000000;
}
.know-about-us-box a {
  text-decoration: none; 
}
.know-about-us-box:hover {
  background-color: black; 
  
}
.know-about-us-box:hover #know-about-us-box-h2,
.know-about-us-box:hover #icon {        
  color: white; 
  text-decoration: underline;
}


.top-image-one {
  width: 30%;
  height: 500px; 
  padding: 5px;
  
}

.top-image-two {
  width: 30%;
  height: 500px;
  padding: 5px;
}

.bottom-box {
  margin-top: 100px;
  background-color: #F5F5DC;
  text-align: center; 
  margin-bottom: 30px;
}

.hr-container {
  display: flex;
  align-items: center;
}
.hr-container h1 {
  font-family: "Lora", serif;
  margin: auto;
  color:#000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 36px;
}

.bottom-box hr {
  flex: 1;
  border: none;
  height: 3px; 
  background-color: #634832; 
  margin: 0 10px; 
}

.container-two {
  background-color: #fff;
  text-align: left;
  margin: 50px 150px 150px 150px;
}

.container-two-images {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-bottom: 125px;
  margin-top: -10px;
}

.container-two-image {
  width: 250px;
  height: 300px;
  padding: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.container-two-images a:hover .container-two-image {
  opacity: 0.9;
}

.container-two-images a:hover .image-title {
  visibility: visible; 
  text-decoration: underline;
  color: black; 
}

.image-title h2 {
  font-family: "Lora", serif;
  font-size: 25px;
  margin-top: -15px;
}

.image-title h6 {
  font-family: "Poppins", sans-serif;
}

/* External CSS Fixes */
.container {
  max-width: 1200px;
  width: 95%;
}       

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}   

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.image-container {
  position: relative;
  text-align: center;
  margin-right: 20px;
}
.image-container:hover .image-item {
  opacity: 0.9;   
}
.image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease; 
}
.image-text {
  position: absolute;
  bottom: 10px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Poppins","sans-serif";
  
}
.image-title {
  color: #000000;
  padding: 10px;
  text-decoration: none;
  transition: visibility 0.3s ease;
}

.container-two .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
}

.container-two .section-header h2 {
  margin: 0;
  font-family: "Lora", serif;
  font-weight: bold;
}
.short-header {
  font-size: 16px;
  margin-left: 20px;
  margin-top: -15px;
}
.container-two .section-header i {
  font-size: 30px;
  color: #000000;
  margin: 0 20px;
}
.section-header i:hover {
  opacity: 0.5;
}
.bottom-half{
  background-color: white;
}







/*-----------------------------------------------------FOOTER---------------------------------------------------*/
footer{
  justify-content: space-between;
  align-items: center;
  background-color: #786E65;
  padding: 30px;
  font-family: Arial, sans-serif;
  color: white;
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-left, .footer-center, .footer-right {
  flex-grow: 1;
  flex-basis: 200;
  text-align: justify;
  margin-left: 80px;
  margin-bottom: 10px;
}
.footer-center{
  line-height: 30px;
}
.footer-center h3, .footer-right h3{
  font-size: 20px;
  font-weight: bold;
}
 .footer-center a{
  text-decoration: none;
  color: white;
 }
 .footer-center a:hover, .footer-right a:hover{
  color: white;
 }    
.footer-center li{
  list-style-type: none;
  color: white;  
}
.footer-right {
  line-height: 30px;
}

.footer-right a {
  margin-left: -8px;
  text-decoration: none;
  color: white;
}

.footer-right li {
  list-style-type: none;
  margin: 5px;
  color: white;
}

.footer-right img {
  margin-right: 5px;
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.footer-right span {
  vertical-align: middle;
}
.footer-left{
  margin-left: 30px;
}
.footer-left img {
  width: 300px;
  height: auto;
}
.footer-left p {
  color: white;
  width: 450px;
}
.buttom{
  width: 100%;
  margin-top: 20px;
}
.buttom p{
  margin-top: 20px;
  color: white;
}
.gotop{
  position: fixed;
  right: 5px;
  bottom: 5px;
}
.gotop a{
  opacity: 0.8;
}
.gotop a:hover{
  opacity: 1;
}


/*---------------------------------------------MEDIA QUERIES -----------------------------------------------------------------*/
@media (max-width: 1024px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
  .background img{
    margin-top: 0%;
  }
  .introduction{
    margin-top: 0px;
  }
  .introduction p{
    margin-left: 180px;
    margin-right: 180px;
  }
  .logo {
    margin-left: 25px;
  }
  .navbar .logo img{
    height: 30%;
    max-height: 60px;
    width: auto;
  }


  .container-one{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  #box-one-h1{
    width: 90%;
    font-size: 32px;
  }
  #box-one-p{
    width: 90%;
    font-size: 16px;
  }
  .box-one{
    margin-right: 5px;
  }
  .know-about-us-box{
    width: 70%;
    height: 50px; 
    margin-left: auto;
    margin-right: auto;
  }
  #know-about-us-box-h2{
    font-size: 12px;
    margin: auto;
    padding: 5px 10px;

  }
  .container{
    width: 97%;
  }
  .bottom-box{
    margin-top: 100px;
    background-color: #F5F5DC;
    width: 100%;
    text-align: center; 
    margin-bottom: 30px;
  }
  .container-two{
    width: 90%;
  }
  .bottom-half{
    width: 97%;
  }
  .bottom-half .container-two-images {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: -100px;
  }
  .image-title h2{
    font-size: 20px;
  }
  .container-two .section-header h2{
    margin-left: -90px;
    width: 100%;
   
  }
  .container-two .section-header i{
    margin-left: -190px;
   
  }
  .short-header{
    margin-left: -60px;
    width: 100%;
  }
  .section-header{
    width: 97%;
  }
  
  
    
}



@media (max-width: 768px){
  nav{
    position: relative;
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #786E65;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name img{
    height: 50%;
    max-height: 40px;
    width: auto;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .Home-sub-menu,
  nav .navbar .links li:hover .Education-sub-menu,
  nav .navbar .links li:hover .Pets-sub-menu,
  nav .navbar .links li:hover .Fashion-sub-menu{
    display: none;
  }
  .navbar .nav-links.show3 .links .Home-sub-menu,
  .navbar .nav-links.show1 .links .Education-sub-menu,
  .navbar .nav-links.show2 .links .Fashion-sub-menu,
  .navbar .nav-links.show4 .links .Pets-sub-menu{
      display: block;
    }
    .navbar .nav-links.show3 .links .Home-sub-menu,
    .navbar .nav-links.show1 .links .Education-sub-menu,
    .navbar .nav-links.show2 .links .Fashion-sub-menu,
    .navbar .nav-links.show4 .links .Pets-sub-menu{
        transform: rotate(0deg);
    }
    .footer {
      display: flex;
      flex-wrap: wrap;
    }
    .footer .footer-left, .footer-center, .footer-right {
      flex-grow: 1;
      flex-basis: 200;
      text-align: justify;
      margin-left: 80px;
      margin-bottom: 10px;
    }
    .background img{
      margin-top: 0px;
    }
    .introduction .fashionnav li{
      font-size: 18px;
    }
    .introduction h2{
      font-family: "Lora",serif;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: bold;
    }
    .introduction p{
      margin-left: auto;
      margin-right: auto;
    }
    .footer-left p {
      color: white;
      width: 90%;
      margin-right: 20px;
    }
    .footer .footer-left, .footer-center, .footer-right {
      margin-left: 40px;
      margin-bottom: 10px;
    }
    .top-image-one{
      width: 50%;
      height: 400px;
      padding-left: 10px;
      padding-top: 20px;
    }
    .top-image-two{
      width: 50%;
      padding-right: 10px;
      padding-top:20px;
      height: 400px;
    }

    .container-one{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    #box-one-h1{
      width: 90%;
      padding: 3px 10px;
    }
    #box-one-p{
      width: 100%;
      padding: 3px 10px;
    }
    .box-one{
      margin-top: -150px;
      width: 100%;
      padding: 8px 10px;
      margin-left: auto;
      margin-right: auto;
      height: 300px;
    }
    .know-about-us-box{
      width: auto;
      height: 50px; 
      margin-left: 10px;
      
    }
    #know-about-us-box-h2{
      font-size: 12px;
      margin: auto;
      padding: 5px 10px;
  
    }
    .bottom-half{
      width: 80%;
    }
    .container{
      width: 100%;
    }
    .bottom-half{
      width: 97%;
    }
    .bottom-half .container-two-images {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 10px;
      margin-left: -105px;
    }
    .image-title h2{
      font-size: 20px;
    }
    .container-two .section-header h2{
      margin-left: -90px;
      width: 70%;
     
    }
    .container-two .section-header i{
      margin-left: -190px;
      width: 80%;
     
    }
    .short-header{
      margin-left: -65px;
      width: 70%;
    }
    .section-header{
      width: 97%;
    }
    

}


@media (max-width: 480px){
  nav .navbar .nav-links{
  max-width: 100%;
  } 
  .top-image-one{
    width: 50%;
    height: 350px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .top-image-two{
    width: 50%;
    padding-right: 10px;
    padding-top:20px;
    height: 350px;
  }

  .container-one{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #box-one-h1{
    width: 90%;
    padding: 3px 10px;
  }
  #box-one-p{
    width: 100%;
    padding: 3px 10px;
  }
  .box-one{
    margin-top: -150px;
    width: 100%;
    padding: 8px 10px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }
  .know-about-us-box{
    width: auto;
    height: 50px; 
    margin-left: 10px;
    
  }
  #know-about-us-box-h2{
    font-size: 12px;
    margin: auto;
    padding: 5px 10px;

  }
  .bottom-half{
    width: 97%;
  }
  .bottom-half .container-two-images {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: -125px;
  }
  .image-title h2{
    font-size: 15px;
  }
  .container-two .section-header h2{
    margin-left: -100px;
    width: 70%;
   
  }
  .container-two .section-header i{
    margin-left: -170px;
   
  }
  .short-header{
    margin-left: -80px;
    width: 80%;
  }
  .section-header{
    width: 97%;
  }
}