/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: #F7F7F7;
  color: #212529;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  padding: 10px;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo img{
  height: 50%;
  max-height: 70px;
  width: auto;
  margin-left: -50px;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
  margin-top: 15px;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.navbar a:hover {
  text-decoration: underline;
  color: white;
}
a {
  text-decoration: none;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  margin-top: 15px;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #786E65;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #786E65;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #786E65;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

p {
    font-family: "Poppins", sans-serif;
}

h2, h3 {
    font-family: "Lora", serif;
}

header {
    text-align: center;
}


.topnav {
    background-color: #786E65;
    text-align: center;
    padding: 13px;
    padding-right: 4rem;

}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    margin: 15px 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.headerIMG {
    text-align: center;
}

.headerIMG img {
    margin-top: 6rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.container {
    text-align: justify;
    display: block;
}


.container-left {
    margin-top: 5px;
    float: left;
    background-color: #FBFBEF;
    width: 49.7%;
    height: 550px;
}
.container-left h2 {
    padding: 10px;
    font-size: 38px;
    padding-left: 60px;
}

.container-left h3 {
    padding-top: 50px;
    font-size: 15px;
    padding-left: 60px;
    margin-bottom: -1rem;
}

.container-left a {
    text-decoration: none;
    color: #000000;
}

.container-left a:hover {
    text-decoration: underline;
}

.breadcrumbs {
    padding-left: 60px;
    padding-right: 50px;
    margin-top: 80px;
    font-size: 16px;
}
.fashion-content {
    padding-left: 60px;
    padding-right: 50px;
    font-size: 16px;
}

.container-right {
    float: right;
    margin-top: 5px;
    padding-left: 50px;
    background-color: #F5F5DC;
    width: 49.7%;
    height: 550px;
    box-shadow: 5px 5px 5px 5px #888888;
}

.container-right h2 {
    padding: 20px;
    font-size: 34px;
}

.container-right h3 {
    padding-left: 25px;
    padding-top: 50px;
    font-size: 15px;

}

.container-right a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    padding: 18px;
    margin-left: 20px;
    margin-right: 12rem;
    border: solid 2px #000000;
    font-weight: bolder;
    display: block;
}

.container-right a:hover {
    color: #F7F7F7;
    background-color: #000000;
}


.contentContainer {
    text-align: center;
    display: block;
    background-color: #F7F7F7;
}

.contentContainer-left {
    padding-top: 3rem;
    float: left;
    padding-left: 8rem;
    width: 600px;
}

.contentContainer-left img {
    width: 600px;
    height: 450px;
    object-fit: cover;
    display: block;
}

.contentContainer-left a {
    text-decoration: none;
    color: #000000;
}

.contentContainer-left a:hover {
    text-decoration: underline;
}

.learnToMake-container {
    background-color: #FBFBEF;
    font-size: 16px;
    font-weight: bolder;
    position: absolute;
    padding: 10px 6rem 10px 10px;
    top: 81.5rem;

}

.contentContainer-right-container{
    clear:both;
    padding:10px;
}
.contentContainer-right-container a:hover {
    opacity: 0.9;
}

.contentContainer-right{
    float: right;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-right: 80px;
}

.contentContainer-right img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

.contentContainer-right a {
    text-decoration: none;
    color: #000000;

}

.contentContainer-right a:hover {
    text-decoration: underline;
}

.contentContainer-right h3{
    text-align: justify;
    margin-top: 50px;
    padding-right: 5rem;
    width: 31rem;
    vertical-align: middle;
}
.contentContainer-right p{
    font-weight: lighter;
    font-size: 16px;
}

.learnTheBasic-BudgetDIY-Container {
    background-color: #FFFFFF;
    display: inline-block;
    width: 100%;
}

.learnTheBasic-BudgetDIY-Container h2 {
    font-size: 2rem;
    margin-top: 2rem;

}

.learnTheBasic-BudgetDIY-Container-header{
    margin-left: 5rem;
}
.learnTheBasic-BudgetDIY-Container-header i {
    font-size: 30px;
    margin-left: 1000px;
}

.learnTheBasic-BudgetDIY-Container p {
    padding: 5px 0px 20px;
    font-size: 16px;
}

.learnTheBasic-BudgetDIY-Container a {
    text-decoration: none;
    color: #000000;
}

.learnTheBasic-BudgetDIY-Container a:hover {
    text-decoration: underline;
}

.horizontalContent-Container-center {
    text-align: center;
    padding-bottom: 50px;
    
}

.horizontalContent-Container {
    display: inline-block;
    margin-right: 2rem;
    margin-left: auto;
    max-height: 350px;
}

.horizontalContent-Container h3 {
    text-align: justify;
    font-size: 24px;
    width: 260px;
    max-height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.horizontalContent-Container p {
    text-align: justify;
    font-size: 16px;
    width: 250px;
}
.horizontalContent-Container a:hover {
    opacity: 0.9;
}

.horizontalContent-Container img {
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.shadow-container {
    box-shadow: 0 4px 2px -2px gray;
    display: block;
}
.projectInspirations-Container {
    text-align: center;
    background-color: #F7F7F7;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projectInspirations-Container-left {
    float: left;
    margin-left: 9rem;
    text-align: center;
    background-color: #FBFBEF;
    width: 352px;
    height: 470px;
    box-shadow: 0px 7px 10px -2px rgba(0, 0, 0, 0.1);
}

.projectInspirations-Container-left h2 {
    padding-top: 7rem;
    font-size: 24px;
    margin: 0px 50px;
}

.projectInspirations-Container-left p {
    margin: 7px 20px 15px 20px;
    font-size: 12px;
}

.projectInspirations-Container-left a {
    text-decoration: none;
    color: #000000;
    padding: 7px 60px;
    border: solid 2px #000000;
}

.projectInspirations-Container-left a:hover {
    color: #F7F7F7;
    background-color: #000000;
}

.projectInspirations-Container-center {
    display: inline-block;
    text-align: center;
    background-color: #F5F5DC;
    width: 369px;
    height: 470px;
    box-shadow: 0px 7px 10px -2px rgba(0, 0, 0, 0.1);
}

.projectInspirations-Container-right {
    float: right;
    margin-right: 8rem;
    text-align: justify;
    background-color: #FBFBEF;
    width: 354px;
    height: 470px;
    box-shadow: 0px 7px 10px -2px rgba(0, 0, 0, 0.1);
}

.projectInspirations-Container-right ul {
    padding: 4rem;
}

.projectInspirations-Container-right h2 {
    margin-bottom: -0.5rem;
    font-size: 24px;
}

.projectInspirations-Container-right p {
    padding: 15px 0px;
    font-size: 16px;
}

/* FOOTER*/

/*-----------------------------------------------------FOOTER---------------------------------------------------*/
footer{
    justify-content: space-between;
    align-items: center;
    background-color: #786E65;
    padding: 30px;
    font-family: Arial, sans-serif;
    color: white;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-left, .footer-center, .footer-right {
    flex-grow: 1;
    flex-basis: 200;
    text-align: justify;
    margin-left: 80px;
    margin-bottom: 10px;
  }
  .footer-center{
    line-height: 30px;
  }
  .footer-center, .footer-right {
    font-family: "Poppins", sans-serif;
  }
  .footer-center h3, .footer-right h3{
    font-family: "Poppins", sans-serif;
  }
   .footer-center a{
    text-decoration: none;
    color: white;
   }
   .footer-center a:hover, .footer-right a:hover{
    color: white;
    text-decoration: underline;
   }    
  .footer-center li{
    list-style-type: none;
    color: white;  
  }
  .footer-right {
    line-height: 30px;
  }
  
  .footer-right a {
    margin-left: -8px;
    text-decoration: none;
    color: white;
  }
  
  .footer-right li {
    list-style-type: none;
    margin: 5px;
    color: white;
  }
  
  .footer-right img {
    margin-right: 5px;
    width: 30px;
    height: auto;
    vertical-align: middle;
  }
  
  .footer-right span {
    vertical-align: middle;
  }
  .footer-left{
    margin-left: 30px;
  }
  .footer-left img {
    width: 300px;
    height: auto;
  }
  .footer-left p {
    color: white;
    width: 450px;
  }
  .buttom{
    width: 100%;
    margin-top: 20px;
  }
  .buttom p{
    margin-top: 20px;
    color: white;
  }
  .gotop{
    position: fixed;
    right: 5px;
    bottom: 5px;
  }
  


/* 
-- 1920 x 1080 resolution --
body {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Poppins", sans-serif;
}

h2,
h3 {
    font-family: "Lora", serif;
}

header {
    text-align: center;
}


.logo {
    width: 324px;
    height: 93px;
    position: absolute;
    top: 15px;
    left: 30px;
}

.topnav {
    background-color: #786E65;
    text-align: center;
    padding: 26px;
    padding-right: 13rem;

}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 28px;
    font-weight: lighter;
    margin: auto 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.headerIMG {
    text-align: center;
}

.headerIMG img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.container {
    text-align: justify;
    display: block;
}


.container-left {
    margin-top: 5px;
    float: left;
    background-color: #FBFBEF;
    width: 49.7%;
    height: 646px;
}

.container-left h2 {
    font-size: 48px;
    padding-left: 125px;
}

.container-left h3 {
    padding-top: 50px;
    font-size: 20px;
    padding-left: 125px;
    margin-bottom: -1rem;
}

.container-left a {
    text-decoration: none;
    color: #000000;
}

.container-left a:hover {
    text-decoration: underline;
}

.container-left p {
    padding-left: 125px;
    font-size: 24px;
}

.container-right {
    float: right;
    margin-top: 5px;
    background-color: #F5F5DC;
    width: 49.7%;
    height: 646px;
    box-shadow: 5px 5px 5px 5px #888888;

}

.container-right h2 {
    font-size: 48px;
    margin-left: 50px;
}

.container-right h3 {
    padding-top: 50px;
    font-size: 20px;
    margin-bottom: -2rem;
    margin-left: 50px;
}

.container-right a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    padding: 20px;
    margin-left: 50px;
    margin-right: 20rem;
    border: solid 3px #000000;
    font-weight: bolder;
    display: block;
}

.container-right a:hover {
    color: #F7F7F7;
    background-color: #000000;
}


.contentContainer {
    text-align: center;
    display: block;
    background-color: #F7F7F7;
}

.contentContainer-left {
    padding-top: 3rem;
    float: left;
    padding-left: 12rem;
}

.contentContainer-left img {
    width: 872px;
    height: 661px;
    object-fit: cover;
}

.contentContainer-left a {
    text-decoration: none;
    color: #000000;
}

.contentContainer-left a:hover {
    text-decoration: underline;
}

.learnToMake-container {
    background-color: #FBFBEF;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    padding: 25px 15rem 25px 25px;
    top: 114.7rem;

}

.contentContainer-right {
    padding-top: 1.7rem;
    display: inline-block;
    font-size: 24px;
}


.contentContainer-right img {
    width: 232px;
    height: 204px;
}

.contentContainer-right-img {
    vertical-align: middle;
    margin-right: 10px;
}

.contentContainer-right a {
    text-decoration: none;
    color: #000000;
}

.contentContainer-right h3 {
    max-width: 50rem;
}

.contentContainer-right a:hover {
    text-decoration: underline;
}

.learnTheBasic-BudgetDIY-Container {
    margin: 5px 150px;
}

.learnTheBasic-BudgetDIY-Container h2 {
    font-size: 48px;
    margin-bottom: -20px;

}

.learnTheBasic-BudgetDIY-Container p {
    font-size: 24px;
}

.learnTheBasic-BudgetDIY-Container a {
    text-decoration: none;
    color: #000000;
}

.learnTheBasic-BudgetDIY-Container a:hover {
    text-decoration: underline;
}

.horizontalContent-Container-center {
    text-align: center;
}

.horizontalContent-Container {
    display: inline-block;
    text-align: center;
}

.horizontalContent-Container h3 {
    text-align: justify;
    font-size: 30px;
}

.horizontalContent-Container p {
    text-align: justify;
    font-size: 24px;
}

.horizontalContent-Container img {
    width: 329px;
    height: 363px;
    object-fit: cover;
    margin: -25px -25px;
}

.shadow-container {
    box-shadow: 0 4px 2px -2px gray;
}

.projectInspirations-Container {
    text-align: center;
    background-color: #F7F7F7;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.projectInspirations-Container-left {
    float: left;
    margin-left: 190px;
    margin-right: -4px;
    text-align: center;
    background-color: #FBFBEF;
    width: 494px;
    height: 660px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.projectInspirations-Container-left h2 {
    padding-top: 10rem;
    font-size: 30px;
    margin: 0px 50px;

}

.projectInspirations-Container-left p {
    margin: 10px 50px 30px 50px;
    font-size: 16px
}

.projectInspirations-Container-left a {
    text-decoration: none;
    color: #000000;
    padding: 10px 90px;
    border: solid 3px #000000;
}

.projectInspirations-Container-left a:hover {
    color: #F7F7F7;
    background-color: #000000;
}


.projectInspirations-Container-center {
    display: inline-block;
    text-align: center;
    background-color: #F5F5DC;
    width: 515px;
    height: 660px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.projectInspirations-Container-right {
    float: right;
    margin-right: 190px;
    text-align: justify;
    background-color: #FBFBEF;
    width: 498px;
    height: 660px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.projectInspirations-Container-right ul{
    padding: 50px;
}

.projectInspirations-Container-right h2{
    font-size: 30px;
}

.projectInspirations-Container-right p{
    font-size: 20px;
}*/