/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  background-color: #F7F7F7;
  color: #212529;
  width: 100%;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  padding: 10px;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo img{
  height: 50%;
  max-height: 70px;
  width: auto;
  margin-left: -50px;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
  margin-top: 15px;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.navbar a:hover {
  text-decoration: underline;
  color: white;
}
a {
  text-decoration: none;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .Home-sub-menu,
nav .navbar .links li:hover .Pets-sub-menu,
nav .navbar .links li:hover .Education-sub-menu,
nav .navbar .links li:hover .Fashion-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #786E65;
  font-weight: 600;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  margin-top: 15px;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #786E65;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #786E65;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #786E65;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
/*-----------------------------------------------------------CONTENTS----------------------------------------------------------*/

.background {
  height: 400px;
}
.background img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7%;
}
.introduction{
  margin-top: 70px;
  background-color: #FBFBEF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 5px gray;
}
.introduction .breadcrumbs{
  padding-top: 40px;
}
.introduction a {
  color: black;
  text-decoration: none;
}
.introduction a:hover {
  text-decoration: underline;
}
.introduction h2{
  font-family: "Lora",serif;
  margin-top: 10px;
  font-size: 48px;
  font-weight: bold;
}
.content{
  width: 100%;
}
.gallery{
  display: flex;
  margin-left: 30%;
  width: 60%;
  padding: 10px;
  gap: 10px;
}
.galleryCol1 {
  height: 500px;
  width: 250px;
}
.galleryCol2 {
  height: 500px;
  width: 250px;
}
.gallery .galleryCol1 img{
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.gallery .galleryCol2 img{
  width: 100%;
  height: 33.33%;
  border-radius: 20px;
}
.text{
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: justify;
  line-height: 25px;
}
.text p{
  text-indent: 50px;
}
.text div{
  margin-top: 20px;
  margin-bottom: 20px;
}
.text h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.text ol{
  margin-left: 20px;
}
/*-----------------------------------------------------FOOTER---------------------------------------------------*/
footer{
  justify-content: space-between;
  align-items: center;
  background-color: #786E65;
  padding: 30px;
  font-family: Arial, sans-serif;
  color: white;
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-left, .footer-center, .footer-right {
  flex-grow: 1;
  flex-basis: 200;
  text-align: justify;
  margin-left: 80px;
  margin-bottom: 10px;
}
.footer-center{
  line-height: 30px;
}
 .footer-center a{
  text-decoration: none;
  color: white;
 }
 .footer-center a:hover, .footer-right a:hover{
  color: white;
  text-decoration: underline;
 }    
.footer-center li{
  list-style-type: none;
  color: white;  
}
.footer-right {
  line-height: 30px;
}

.footer-right a {
  margin-left: -8px;
  text-decoration: none;
  color: white;
}

.footer-right li {
  list-style-type: none;
  margin: 5px;
  color: white;
}

.footer-right img {
  margin-right: 5px;
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.footer-right span {
  vertical-align: middle;
}
.footer-left{
  margin-left: 30px;
}
.footer-left img {
  width: 300px;
  height: auto;
}
.footer-left p {
  color: white;
  width: 450px;
}
.buttom{
  width: 100%;
  margin-top: 20px;
}
.buttom p{
  margin-top: 20px;
  color: white;
}
.gotop{
  position: fixed;
  right: 5px;
  bottom: 5px;
}
.gotop a{
  opacity: 0.8;
}
.gotop a:hover{
  opacity: 1;
}

/*---------------------------------------------MEDIA QUERIES -----------------------------------------------------------------*/

@media (max-width: 1024px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .logo img{
    margin-left: 10px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
  .background img{
    margin-top: 0%;
  }
  .introduction{
    margin-top: 0px;
  }
  .introduction p{
    margin-left: 130px;
    margin-right: 130px;
  }
  .logo {
    margin-left: 25px;
  }
  .navbar .logo img{
    height: 30%;
    max-height: 60px;
    width: auto;
  }
  .gallery{
    margin-left: 25%;
  }
}



@media (max-width: 768px){
  nav{
    position: relative;
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #786E65;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name img{
    height: 50%;
    max-height: 40px;
    width: auto;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .Home-sub-menu,
  nav .navbar .links li:hover .Education-sub-menu,
  nav .navbar .links li:hover .Pets-sub-menu,
  nav .navbar .links li:hover .Fashion-sub-menu{
    display: none;
  }
  .navbar .nav-links.show3 .links .Home-sub-menu,
  .navbar .nav-links.show1 .links .Education-sub-menu,
  .navbar .nav-links.show2 .links .Fashion-sub-menu,
  .navbar .nav-links.show4 .links .Pets-sub-menu{
      display: block;
    }
    .navbar .nav-links.show3 .links .Home-sub-menu,
    .navbar .nav-links.show1 .links .Education-sub-menu,
    .navbar .nav-links.show2 .links .Fashion-sub-menu,
    .navbar .nav-links.show4 .links .Pets-sub-menu{
        transform: rotate(0deg);
    }
    .footer {
      display: flex;
      flex-wrap: wrap;
    }
    .footer .footer-left, .footer-center, .footer-right {
      flex-grow: 1;
      flex-basis: 200;
      text-align: justify;
      margin-left: 80px;
      margin-bottom: 10px;
    }
    .background img{
      margin-top: 0%;
    }
    .introduction{
      margin-top: 0px;
    }
    .introduction .fashionnav li{
      font-size: 18px;
    }
    .introduction h2{
      font-family: "Lora",serif;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 35px;
      font-weight: bold;
    }
    .gallery{
      width: 70%;
      margin-left: 15%;
    }
    .introduction p{
      margin-left: auto;
      margin-right: auto;
    }
    .footer-left p {
      color: white;
      width: 90%;
      margin-right: 20px;
    }
    .footer .footer-left, .footer-center, .footer-right {
      margin-left: 40px;
      margin-bottom: 10px;
    }
}
@media (max-width: 480px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
.background img{
  margin-top: 0%;
}
.introduction{
  margin-top: 0px;
}
.introduction p{
  margin-left: 0px;
  margin-right: 0px;
}
.introduction h2{
  font-size: 30px;

}
.gallery{
  width: 80%;
  margin-left: 10%;
}
.galleryCol1 {
  height: 500px;
  width: 350px;
}
.galleryCol2 {
  height: 500px;
  width: 350px;
}
}