@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  color: #212529;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  padding: 10px;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo img{
  height: 50%;
  max-height: 70px;
  width: auto;
  margin-left: -50px;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
  margin-top: 15px;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.navbar a:hover {
  text-decoration: underline;
  color: white;
}
a {
  text-decoration: none;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #786E65;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .Home-sub-menu,
nav .navbar .links li:hover .Pets-sub-menu,
nav .navbar .links li:hover .Education-sub-menu,
nav .navbar .links li:hover .Fashion-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  margin-top: 15px;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #786E65;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #786E65;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #786E65;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
/*-----------------------------------------------------------CONTENTS----------------------------------------------------------*/

header {
  margin-top: 10px;
  background-color: #786E65;
  width: 100%;
}

.navcontainer {
  display: inline;
  margin-left: 470px;
}

.topnav {
  padding: 10px;
}

form {
  text-align: right;
}

#searchForm {
  display: inline;
  margin-left: 10px;
}

.breadcrumbs {
  margin-left: 100px; 
  margin-top: 150px;
}
.breadcrumbs a {
  text-decoration: none;
  color: black;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
#contents1 {
  margin-left: 100px;
  line-height: 45px;
  display: flex;
  flex-wrap: wrap;
}
#contents1 .left{
  flex-grow: 1;
  flex-basis: 200;
}
#contents1 .right{
  flex-grow: 1;
  flex-basis: 200;
}
.left {
  width: 500px;
  margin-right: 30px;
  margin-top: 10px;
}
.left p {
  line-height: 25px; 
  margin-top: 0px;
  font-size: 16px;
  text-align: justify;
}
.left h1 {
  font-family: "Lora",serif;
  font-weight: 800;
  font-size: 45px;
  line-height: 60px; 
  margin-bottom: 0px;
  font-family: "Lora", serif;
}
.right {
  width: 500px;
  margin-right: 30px;
  margin-top: 10px;
}
.right p {
  line-height: 25px; 
  margin-top: 0px;
  font-size: 16px;
  text-align: justify;
}
.right h1 {
  font-family: "Lora",serif;
  font-weight: 800;
  font-size: 45px;
  line-height: 60px; 
  margin-bottom: 0px;
  margin-top: 50px;
}
#contents1 .right{
  flex-grow: 1;
  flex-basis: 200;
}



@media only screen and (max-width: 768px) {
  p {
    margin-left: 20px;
    margin-top: 50px;
    text-align: center;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
}

.team {
    font-size: 20px;
    text-align: center;
}
.team .meet-content {
  line-height: 25px; 
  margin-left: 150px;
  margin-right: 150px;
  font-size: 16px;
  margin-bottom: 5px;
}
.team h1 {
  margin-top: 50px;
  font-family: "Lora",serif;
  font-weight: 800;
  font-size: 45px;
}

.team img { 
    width: 150px;
    height: auto;
    border-radius: 100px;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

#row1 {
    text-align: center;
    width: 1300px;
}

#row1 div {
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
}

#row1 img {
    vertical-align: middle;
}

.img1 p {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#row2 {
    text-align: center;
    width: 1300px;
}

#row2 div {
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
}

#row2 img {
    vertical-align: middle;
}

.img2 p {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#row3 {
    text-align: center;
    width: 1300px;
}

#row3 div {
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
}

#row3 img {
    vertical-align: middle;
}

.img3 p {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#row4 {
    text-align: center;
    
}

#row4 div {
    display: inline-block;
    text-align: left;
}

#row4 img {
    vertical-align: middle;
}

.img4 p {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.rowcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

#image2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

#image3 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

#image4 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

#image5 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

#image6 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

#image7 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

#image8 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

#image9 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

#image10 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

.rowcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-member {
  width: 300px;
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  display: block;
  margin: 0 auto 10px;
}









/*-----------------------------------------------------FOOTER---------------------------------------------------*/
footer{
  justify-content: space-between;
  align-items: center;
  background-color: #786E65;
  padding: 30px;
  font-family: Arial, sans-serif;
  color: white;
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-left, .footer-center, .footer-right {
  flex-grow: 1;
  flex-basis: 200;
  text-align: justify;
  margin-left: 80px;
  margin-bottom: 10px;
}
.footer-center{
  line-height: 30px;
}
 .footer-center a{
  text-decoration: none;
  color: white;
 }
 .footer-center a:hover, .footer-right a:hover{
  color: white;
 }    
.footer-center li{
  list-style-type: none;
  color: white;  
}
.footer-center a:hover, .footer-right a:hover{
  text-decoration: underline;
  color: white;
}
.footer-right {
  line-height: 30px;
}

.footer-right a {
  margin-left: -8px;
  text-decoration: none;
  color: white;
}

.footer-right li {
  list-style-type: none;
  margin: 5px;
  color: white;
}

.footer-right img {
  margin-right: 5px;
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.footer-right span {
  vertical-align: middle;
}
.footer-left{
  margin-left: 30px;
}
.footer-left img {
  width: 300px;
  height: auto;
}
.footer-left p {
  color: white;
  width: 450px;
}
.buttom{
  width: 100%;
  margin-top: 20px;
}
.buttom p{
  margin-top: 20px;
  color: white;
}
.gotop{
  position: fixed;
  right: 5px;
  bottom: 5px;
}
.gotop a{
  opacity: 0.8;
}
.gotop a:hover{
  opacity: 1;
}

/*---------------------------------------------MEDIA QUERIES -----------------------------------------------------------------*/

@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    position: relative;
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #786E65;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name img{
    height: 50%;
    max-height: 40px;
    width: auto;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .Home-sub-menu,
  nav .navbar .links li:hover .Education-sub-menu,
  nav .navbar .links li:hover .Pets-sub-menu,
  nav .navbar .links li:hover .Fashion-sub-menu{
    display: none;
  }
  .navbar .nav-links.show3 .links .Home-sub-menu,
  .navbar .nav-links.show1 .links .Education-sub-menu,
  .navbar .nav-links.show2 .links .Fashion-sub-menu,
  .navbar .nav-links.show4 .links .Pets-sub-menu{
      display: block;
    }
    .navbar .nav-links.show3 .links .Home-sub-menu,
    .navbar .nav-links.show1 .links .Education-sub-menu,
    .navbar .nav-links.show2 .links .Fashion-sub-menu,
    .navbar .nav-links.show4 .links .Pets-sub-menu{
        transform: rotate(0deg);
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}

@media only screen and (max-width: 768px) {
  .breadcrumbs {
      margin-left: 10px;
      margin-top: 10px;
  }
  .team-heading {
      margin-left: 10px;
  }

  .team-member {
      width: calc(50% - 10px);
  }
}

@media only screen and (max-width: 480px) {
  .breadcrumbs {
      font-size: 14px;
  }

  .team-heading {
      font-size: 24px;
      margin-left: 0;
      margin-bottom: 20px;
  }

  .team-member {
      width: 100%;
  }
}
